<div class="modal-comment-confirm" >
  <% if defined?(pick) and defined?(comment) %>
  <div class="background"></div>
  <div class="modal-content-wrapper">
    <div class="modal-content dialog">
      <div class="message-box-edit" >
        <div class="labels">
          <div class="title">Pickを上書きしてもよろしいですか？</div>
          <div class="message">すでにPickしたことがあるニュースです。<br>再度Pickするとコメントが上書きされます。</div>
        </div>
        <%= form_for(pick.comments.find_by(user_id: current_user.id), remote: true) do |f| %>
        <div class="buttons">
          <div class="negative-button">キャンセル</div>
          <%= f.hidden_field :comment, value: comment.comment %>
          <%= f.submit "上書きしてPickする" , class: "positive-button" %>
        </div>
        <% end %>
      </div>
      <div class="message-box-delete" >
        <div class="labels">
          <div class="title">Pickを削除してもよろしいでしょうか？</div>
          <div class="message">Pickを削除すると元に戻すことができません。</div>
        </div>
        <%= form_for(pick.comments.find_by(user_id: current_user.id), remote: true) do |f| %>
        <div class="buttons">
          <div class="negative-button">キャンセル</div>
          <%= link_to "削除", "/comments/#{comment.id}", method: :delete, class: "negative-button", remote: true%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% elsif defined?(user) %>
  <div class="background"></div>
  <div class="modal-content-wrapper">
    <div class="modal-content dialog">
      <div class="message-box-dislike">
        <div class="labels">
          <div class="title"><%= user.last_name %> <%= user.first_name %> さんのコメントを非表示にしますか。</div>
          <div class="message"><%= user.last_name %> <%= user.first_name %> さんのコメントは画面に表示されなくなり、<br>Like通知なども反映されません。</div>
        </div>
        <div class="buttons">
          <div class="negative-button">キャンセル</div>
          <%= link_to "OK","/dislike/#{user.id}",id: "dislike-create-btn", class: "positive-button", data: user.id, method: :post, remote: true %>
        </div>
    </div>
  </div>
  <% end %>
</div>

