<div class="back signin" id="signin">
  <div class="signin__overlay">
    <div class="form signin__form">
      <h2 class="signin__form__title">ログイン</h2>
      <div class="signin__form__signup">
        まだアカウントをお持ちでない方は <span class="signin__form__signup__link"><%= link_to "新規登録" %></span> へ
      </div>
      <%= link_to user_google_omniauth_authorize_path do %>
        <div class="signin__form__omniauth">
          <span class="signin__form__omniauth__text">Googleでログイン</span>
        </div>
      <% end %>
      <div class="signin__form__or">
        または
      </div>

      <%= form_with model: resource, url: :user_session do |f| %>

        <div class="field signin__form__input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '登録したメールアドレス', class: 'field signin__form__input__text' %>
        </div>

        <div class="field signin__form__input">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: 'field signin__form__input__text' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field signin__form__input">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div id="signin-error_msg" class="signin__form__error">
        </div>

        <div class="actions">
          <%= button_tag "ログイン", type: "submit", class: 'signin__form__submit' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
