<div class="edit">
  <div class="edit__form">
    <h2 class="edit__form__title">アカウント設定</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'edit__form__block') do |f| %>
      <%= devise_error_messages! %>

      <div class="field edit__form__block__element">
        <%= f.label :メールアドレス, class: 'field edit__form__block__element__label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field edit__form__block__element__text' %>
      </div>

      <div class="field edit__form__block__element">
        <%= f.label :氏名, class: 'field edit__form__block__element__label' %>
        <div class="field edit__form__block__element__name">
          <%= f.text_field :last_name, class: 'field edit__form__block__element__name__last' %>
          <%= f.text_field :first_name, class: 'field edit__form__block__element__name__first' %>
        </div>
      </div>

      <div class="field edit__form__block__element">
        <%= f.label :会社名, class: 'field edit__form__block__element__label' %>
        <%= f.text_field :company, class: 'field edit__form__block__element__text' %>
      </div>

      <div class="field edit__form__block__element">
        <%= f.label :役職, class: 'field edit__form__block__element__label' %>
        <%= f.text_field :position, class: 'field edit__form__block__element__text' %>
      </div>

      <div class="field edit__form__block__element">
        <%= f.label :プロフィール, class: 'field edit__form__block__element__label' %>
        <%= f.text_area :profile, class: 'field edit__form__block__element__profile' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field edit__form__block__element">
        <%= f.label :新規パスワード, class: 'field edit__form__block__element__label' %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'field edit__form__block__element__text', placeholder: "#{@minimum_password_length}文字以上の半角英数字" %>
        <i class="field edit__form__block__element__invoice">パスワードを変更しない場合は入力しないでください</i>
      </div>

      <div class="field edit__form__block__element">
        <%= f.label "もう一度入力してください", class: 'field edit__form__block__element__label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'field edit__form__block__element__text' %>
      </div>

      <div class="field edit__form__block__element">
        <%= f.label :現在のパスワード, class: 'field edit__form__block__element__label' %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'field edit__form__block__element__text' %>
        <i class="field edit__form__block__element__invoice">変更を保存するには現在のパスワードを入力してください</i>
      </div>

      <div class="actions edit__form__block__send">
        <%= button_tag "保存する", type: "submit", class: 'edit__form__block__send__btn' %>
      </div>
    <% end %>

    <div class="edit__form__block__unsubscribe">
      <%= link_to "NewsPicks created by Team A のアカウントを完全に削除する", registration_path(resource_name), data: { confirm: "本当に退会してよろしいですか？" }, method: :delete, class: 'edit__form__block__unsubscribe__btn' %>
    </div>
  </div>
</div>
