<div class="content__top-news__side-news__content">
  <!-- ニュース本編 -->
  <div class="content__top-news__side-news__content__news">
    <%= link_to "/picks/#{pick.id}", class: "content__top-news__side-news__content__news__link" do %>
      <div class="content__top-news__side-news__content__news__image" style="background-image: url(<%= pick.image %>);">
      </div>
      <h1 class="content__top-news__side-news__content__news__title"><%= pick.title %></h1>
    <% end %>
    <div class="content__top-news__side-news__content__news__info">
      <p class="content__top-news__side-news__content__news__source"><%= pick.source %></p>
      <p class="content__top-news__side-news__content__news__time"><%= calc_time(pick) %></p>
    </div>
  </div>
  <% if comment.class == String %>
    <p class="no_comment" style="margin-left: 10px; font-size: 13px;">
      <%= comment %>
    </p>
  <% elsif comment.comment.blank? %>
    <p class="no_comment" style="margin-left: 10px; font-size: 13px;">
      コメントはまだありません
    </p>
  <% else %>
  <!-- コメントしたユーザー -->
    <div class="content__top-news__side-news__content__users">
      <div class="content__top-news__side-news__content__users__top-user">
        <%= image_tag comment.user.image.url, class: "content__top-news__side-news__content__users__top-user__image", alt: "ユーザーイメージ" %>
        <p class="content__top-news__side-news__content__users__top-user__name"><%= comment.user.last_name %> <%= comment.user.first_name %>
          <span class="content__top-news__side-news__content__users__top-user__name__position"><%= comment.user.position %></span>
        </p>
        <p class="content__top-news__side-news__content__users__top-user__comment"><%= comment.comment %></p>
      </div>
      <div class="content__top-news__side-news__content__users__others">
        <% pick.get_pickers(comment.user).each do |picker| %>
          <%= image_tag picker.image, class: "content__top-news__side-news__content__users__others__image", alt: "ユーザーイメージ" %>
        <% end %>
        <p class="content__top-news__side-news__content__users__others__pick-count">
          <span class="content__top-news__side-news__content__users__others__pick-count__num">
            <%= pick.comments.length %>
          </span>
           Picks
        </p>
      </div>
    </div>
  <% end %>
</div>
