<div class="theme-page">
  <div class="theme-title">
    <div class="centering-theme-title">
      <%= @theme.theme %>
    </div>
  </div>
  <div class="theme-news">
    <div class="left-theme-news">
      <div class="news-card">
        <%= link_to pick_path(@top.id) do %>
          <div class="theme-top-thumbnail" style="background-image: url(<%= @top.image %>)">
          </div>
          <div class="theme-news-title">
            <%= @top.title %>
          </div>
        <% end %>
        <div class="meta">
          <div class="publisher-container">
            <div class="publisher">
              <%= @top.source %>
            </div>
          </div>
          <span><%= calc_time(@top) %></span>
        </div>
        <div class="theme-news-user-comment">
          <% if @top.get_popular_comment.class != String && @top.get_popular_comment.comment.present? %>
            <%= link_to user_path(@top.comments.first.user_id) do %>
              <div class="profile">
                <%= image_tag @top.comments.first.user.image.url %>
                <div class="details">
                  <span class="name"><%= @top.comments.first.user.last_name %> <%= @top.comments.first.user.first_name %></span>
                  <span class="job"><%= @top.comments.first.user.position %></span>
                </div>
              </div>
            <% end %>
            <%= link_to pick_path(@top.id) do %>
              <div class="comment">
                <%= @top.comments.first.comment %>
              </div>
            <% end %>
            <% if @top.get_pickers(@top.comments.first.user).present? %>
              <div class="pickers">
                <ul>
                  <% @top.get_pickers(@top.comments.first.user).each do |picker| %>
                  <li>
                    <%= link_to user_path(picker) do %>
                      <%= image_tag picker.image.url %>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% else %>
            <div class="no-comment">
              コメントはまだありません
            </div>
          <% end %>
        </div>
      </div>
      <% popular.each do |pick| %>
        <%= render partial: "one_theme_news", locals: {pick: pick, comment: pick.get_popular_comment} %>
      <% end %>
    </div>
    <div class="right-theme-news">
      <div class="block_title">
        新着ニュース
      </div>
      <% newests.each do |pick| %>
        <%= render partial: 'one_newests', locals: {pick: pick} %>
      <% end %>
    </div>
  </div>
</div>
