<div class="notification" identifier="FN:1200352:1535541245942" score="1535541261009" type="FOLLOW">
  <%= link_to(user_path(user) , class: "picture-link") do %>
    <img src=<%= user.image %>>
  <% end %>
  <a class="label-link" href="/users/<%= user.id %>">
    <div class="message">
      <b><%= user.last_name %> <%= user.first_name %></b>さんにフォローされました
    </div>
    <div class="time"><%= comment_time(notification) %></div>
  </a>
</div>


