<!-- 一個のニュース -->
<div class="tab-content__content">
  <!-- ニュース本編 -->
  <div class="tab-content__content__news">
    <%= link_to "/picks/#{pick.id}", class: "content__top-news__side-news__content__news__link" do %>
      <div class="tab-content__content__news__image" style="background-image: url(<%= pick.image %>);">
      </div>
      <h1 class="tab-content__content__news__title"><%= pick.title %></h1>
    <% end %>
    <div class="tab-content__content__news__info">
      <p class="tab-content__content__news__source"><%= pick.source %></p>
      <p class="tab-content__content__news__time">11時間前</p>
    </div>
  </div>
  <!-- コメントしたユーザー -->
  <div class="tab-content__content__users">
    <div class="tab-content__content__users__top-user">
      <img class="tab-content__content__users__top-user__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
      <p class="tab-content__content__users__top-user__name"><%= comment.user.last_name %><%= comment.user.first_name %>
        <span class="tab-content__content__users__top-user__name__position"><%= comment.user.position %></span>
      </p>
      <p class="tab-content__content__users__top-user__comment"><%= comment.comment %></p>
    </div>
    <div class="tab-content__content__users__others">
      <img class="tab-content__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
      <img class="tab-content__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
      <img class="tab-content__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
      <img class="tab-content__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
      <img class="tab-content__content__users__others__image" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg" alt="ユーザーイメージ">
      <p class="tab-content__content__users__others__pick-count">
        <span class="tab-content__content__users__others__pick-count__num">
          <%= pick.comments.count %>
        </span>
         Picks
      </p>
    </div>
  </div>
</div>
<!-- 一個のニュース -->
