<div class="tab-content-selected">
  <div class="items">
    <div class="recommended">

      <!-- おすすめピッカー -->
      <div class="featured">
        <div class="centering-content">
          <div class="content-header">
            <div class="content-header-title">
              おすすめピッカー
            </div>
            <div class="content-header-description">
              フォローするピッカーを見つけよう
            </div>
          </div>
          <div class="category-header">
            <div class="category-title">
              最新ピッカー
            </div>
          </div>

          <div class="row">
            <% @users.each do |user| %>
              <div class="category-recommended-picker">
                <div class="picker-info">
                  <%= link_to user_path(user.id) do %>
                    <%= image_tag user.image.url %>
                    <div class="picker-info-container">
                      <div class="picker-name">
                        <%= user.last_name %> <%= user.first_name %>
                      </div>
                      <div class="picker-position">
                        <%= user.position %>
                      </div>
                    </div>
                  <% end %>
                  <% if user.pro %>
                    <div class="badge">
                      <img src="https://resources.newspicks.com/for_clients/icons/pro_black.png">
                    </div>
                  <% end %>
                  <% if current_user.id != user.id %>
                    <% if current_user.following?(user) %>
                      <div class="follow-btn" id="user-follow<%= user.id %>">
                        <%= link_to user.show_unfollow_link, class: "destroy-relation", data: user.id, method: :delete do %>
                          <img src="/images/following-btn.png">
                        <% end %>
                      </div>
                    <% else %>
                      <div class="follow-btn" id="user-follow<%= user.id %>">
                        <%= link_to user.show_follow_link, class: "create-relation", data: user.id, method: :post do %>
                          <img src="/images/follow-btn.png">
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div><!-- row -->

          <div class="category-header">
            <div class="category-title">
              人気ピッカー
            </div>
          </div>

          <div class="row">
            <% @user_popular.each do |user| %>
              <div class="category-recommended-picker">
                <div class="picker-info">
                  <%= link_to user_path(user.id) do %>
                    <%= image_tag user.image.url %>
                    <div class="picker-info-container">
                      <div class="picker-name">
                        <%= user.last_name %> <%= user.first_name %>
                      </div>
                      <div class="picker-position">
                        <%= user.position %>
                      </div>
                    </div>
                  <% end %>
                  <% if user.pro %>
                    <div class="badge">
                      <img src="https://resources.newspicks.com/for_clients/icons/pro_black.png">
                    </div>
                  <% end %>
                  <% if current_user.id != user.id %>
                    <% if current_user.following?(user) %>
                      <div class="follow-btn" id="user-follow<%= user.id %>">
                        <%= link_to user.show_unfollow_link, class: "destroy-relation", data: user.id, method: :delete do %>
                          <img src="/images/following-btn.png">
                        <% end %>
                      </div>
                    <% else %>
                      <div class="follow-btn" id="user-follow<%= user.id %>">
                        <%= link_to user.show_follow_link, class: "create-relation", data: user.id, method: :post do %>
                          <img src="/images/follow-btn.png">
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div><!-- row -->
        </div> <!-- centering-content -->
      </div> <!-- categorized -->
      <!-- カテゴリー別ピッカーここまで -->
    </div>
  </div>
</div>
