<div class="tab-content-selected">
  <div class="items">
    <div class="recommended">

      <!-- おすすめピッカー -->
      <div class="featured">
        <div class="centering-content">
          <div class="content-header">
            <div class="content-header-title">
              おすすめピッカー
            </div>
            <div class="content-header-description">
              今を読む35テーマの専門家
            </div>
          </div>
          <div class="category-header">
            <div class="category-title">
              サイエンス
            </div>
          </div>

          <div class="row">
            <% @users.each do |user| %>
              <div class="category-recommended-picker">
                <div class="picker-info">
                  <%= link_to user_path(user.id) do %>
                    <img src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg">
                    <div class="picker-info-container">
                      <div class="picker-name">
                        <%= user.last_name %> <%= user.first_name %>
                      </div>
                      <div class="picker-position">
                        <%= user.position %>
                      </div>
                    </div>
                  <% end %>
                  <% if user.pro %>
                    <div class="badge">
                      <img src="https://resources.newspicks.com/for_clients/icons/pro_black.png">
                    </div>
                  <% end %>
                  <% if current_user.id != user.id %>
                    <% if current_user.following?(user) %>
                      <div class="follow-btn" id="user-follow<%= user.id %>">
                        <%= link_to "/unfollow/#{user.id}", class: "destroy-relation", data: user.id, method: :delete do %>
                          <img src="images/following-btn.png">
                        <% end %>
                      </div>
                    <% else %>
                      <div class="follow-btn" id="user-follow<%= user.id %>">
                        <%= link_to "/follow/#{user.id}", class: "create-relation", data: user.id, method: :post do %>
                          <img src="images/follow-btn.png">
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div><!-- row -->

          <div class="category-header">
            <div class="category-title">
              不動産テック
            </div>
        </div>
        <div class="row">
          <% @users.each do |user| %>
            <div class="category-recommended-picker">
              <div class="picker-info">
                <%= link_to user_path(user.id) do %>
                  <img src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg">
                  <div class="picker-info-container">
                    <div class="picker-name">
                      <%= user.last_name %> <%= user.first_name %>
                    </div>
                    <div class="picker-position">
                      <%= user.position %>
                    </div>
                  </div>
                <% end %>
                <% if user.pro %>
                  <div class="badge">
                    <img src="https://resources.newspicks.com/for_clients/icons/pro_black.png">
                  </div>
                <% end %>
                <% if current_user.id != user.id %>
                  <% if current_user.following?(user) %>
                    <div class="follow-btn" id="user-follow<%= user.id %>">
                      <%= link_to "/unfollow/#{user.id}", class: "destroy-relation", data: user.id, method: :delete do %>
                        <img src="images/following-btn.png">
                      <% end %>
                    </div>
                  <% else %>
                    <div class="follow-btn" id="user-follow<%= user.id %>">
                      <%= link_to "/follow/#{user.id}", class: "create-relation", data: user.id, method: :post do %>
                        <img src="images/follow-btn.png">
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div><!-- row -->

      </div> <!-- centering-content -->
    </div> <!-- featured -->
    <!-- おすすめピッカーここまで -->

    <!-- カテゴリー別ピッカー -->
    <div class="categorized">
      <div class="centering-content">
        <div class="category-header">
          <div class="category-title">
            NewsPicks解説員
          </div>
        </div>

        <div class="row">
          <% @users.each do |user| %>
            <div class="category-recommended-picker">
              <div class="picker-info">
                <%= link_to user_path(user.id) do %>
                  <img src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg">
                  <div class="picker-info-container">
                    <div class="picker-name">
                      <%= user.last_name %> <%= user.first_name %>
                    </div>
                    <div class="picker-position">
                      <%= user.position %>
                    </div>
                  </div>
                <% end %>
                <% if user.pro %>
                  <div class="badge">
                    <img src="https://resources.newspicks.com/for_clients/icons/pro_black.png">
                  </div>
                <% end %>
                <% if current_user.id != user.id %>
                  <% if current_user.following?(user) %>
                    <div class="follow-btn" id="user-follow<%= user.id %>">
                      <%= link_to "/unfollow/#{user.id}", class: "destroy-relation", data: user.id, method: :delete do %>
                        <img src="images/following-btn.png">
                      <% end %>
                    </div>
                  <% else %>
                    <div class="follow-btn" id="user-follow<%= user.id %>">
                      <%= link_to "/follow/#{user.id}", class: "create-relation", data: user.id, method: :post do %>
                        <img src="images/follow-btn.png">
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div><!-- row -->

        <div class="category-header">
          <div class="category-title">
            トップマネジメントの視点
          </div>
        </div>
        <div class="row">
          <% @users.each do |user| %>
            <div class="category-recommended-picker">
              <div class="picker-info">
                <%= link_to user_path(user.id) do %>
                  <img src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg">
                  <div class="picker-info-container">
                    <div class="picker-name">
                      <%= user.last_name %> <%= user.first_name %>
                    </div>
                    <div class="picker-position">
                      <%= user.position %>
                    </div>
                  </div>
                <% end %>
                <% if user.pro %>
                  <div class="badge">
                    <img src="https://resources.newspicks.com/for_clients/icons/pro_black.png">
                  </div>
                <% end %>
                <% if current_user.id != user.id %>
                  <% if current_user.following?(user) %>
                    <div class="follow-btn" id="user-follow<%= user.id %>">
                      <%= link_to "/unfollow/#{user.id}", class: "destroy-relation", data: user.id, method: :delete do %>
                        <img src="images/following-btn.png">
                      <% end %>
                    </div>
                  <% else %>
                    <div class="follow-btn" id="user-follow<%= user.id %>">
                      <%= link_to "/follow/#{user.id}", class: "create-relation", data: user.id, method: :post do %>
                        <img src="images/follow-btn.png">
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div><!-- row -->

      </div> <!-- centering-content -->
    </div> <!-- categorized -->
    <!-- カテゴリー別ピッカーここまで -->
  </div>
</div>
