<div class="side-bar">
  <%= render partial: "current_user" %>
  <div class="side-bar__recomended-user">
    <div class="side-bar__recomended-user__title">
      おすすめユーザー
    </div>
    <div class="side-bar__recomended-user__user">
      <div class="side-bar__recomended-user__user__info">
        <img src="https://img.jisin.jp/wp-content/uploads/2018/05/119600.jpeg" alt="ユーザーサムネイル" class="side-bar__recomended-user__user__info__image">
        <div class="side-bar__recomended-user__user__info__name">
          <span>有田　哲平</span></br>
          <span class="side-bar__recomended-user__user__info__name__more">ナチュラルエイト お笑い芸人</span>
        </div>
      </div>
      <div class="side-bar__recomended-user__user__follow">
        <img src="/images/follow-btn.png" class="side-bar__recomended-user__user__follow__btn">
      </div>
    </div>
  </div>
</div>
<div class="timeline">
  <div class="timeline__header">
    マイニュース
  </div>
  <% if @follow_user_comments %>
    <div class="timeline__list">

      <!-- キーワード用 -->
      <div class="timeline__list__keyword-block">
        <span class="timeline__list__keyword-block__keyword">
          [キーワード]
        </span>
        のキーワードにヒット
      </div>
      <div class="timeline__list__news">
        <div class="timeline__list__news__above">
          <div class="timeline__list__news__above__pick">
            <div class="timeline__list__news__above__pick__title">
              タイトル
            </div>
            <div class="timeline__list__news__above__pick__info">
              <span class="timeline__list__news__above__pick__info__source">ソース</span>
              <span class="timeline__list__news__above__pick__info__time">4時間前</span>
            </div>
          </div>
          <div class="timeline__list__news__above__image" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_42oUiRcRx1vCWdpFNlN36LTKBipApgOndkM5X3daEN60Bxs9dw)">
            <div class="timeline__list__news__above__image__back">

            </div>
            <div class="timeline__list__news__above__image__pick-count">
              <span class="timeline__list__news__above__image__pick-count__num">33</span>
              <span class="timeline__list__news__above__image__pick-count__text">Picks</span>
            </div>
          </div>
        </div>
        <div class="timeline__list__news__bottom">
          <div class="timeline__list__news__bottom__user">
            <img class="timeline__list__news__bottom__user__thumb" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_42oUiRcRx1vCWdpFNlN36LTKBipApgOndkM5X3daEN60Bxs9dw" alt="">
            <div class="timeline__list__news__bottom__user__info">
              <div class="timeline__list__news__bottom__user__info__name">
                土屋　太鳳
              </div>
              <div class="timeline__list__news__bottom__user__info__more">
                会社名　女優
              </div>
            </div>
          </div>
          <div class="timeline__list__news__bottom__comment">
            コメント本文
          </div>
          <div class="timeline__list__news__bottom__like-wrapper like-wrapper">
            いいね
          </div>
        </div>
      </div>







      <% @follow_user_comments.each do |comment| %>
        <div class="timeline__list__news">
          <div class="timeline__list__news__above">
            <div class="timeline__list__news__above__pick">
              <div class="timeline__list__news__above__pick__title">
                <%= comment.pick.title %>
              </div>
              <div class="timeline__list__news__above__pick__info">
                <span class="timeline__list__news__above__pick__info__source"><%= comment.pick.source %></span>
                <span class="timeline__list__news__above__pick__info__time">4時間前</span>
              </div>
            </div>
            <div class="timeline__list__news__above__image" style="background-image:url(<%= comment.pick.image %>)">
              <div class="timeline__list__news__above__image__back">

              </div>
              <div class="timeline__list__news__above__image__pick-count">
                <span class="timeline__list__news__above__image__pick-count__num"><%= comment.likes.count %></span>
                <span class="timeline__list__news__above__image__pick-count__text">Picks</span>
              </div>
            </div>
          </div>
          <div class="timeline__list__news__bottom">
            <div class="timeline__list__news__bottom__user">
              <img class="timeline__list__news__bottom__user__thumb" src="<%= comment.user.image.url %>" alt="">
              <div class="timeline__list__news__bottom__user__info">
                <div class="timeline__list__news__bottom__user__info__name">
                  <%= comment.user.last_name %>　<%= comment.user.first_name %>
                </div>
                <div class="timeline__list__news__bottom__user__info__more">
                  <%= comment.user.company %>　<%= comment.user.position %>
                </div>
              </div>
            </div>
            <div class="timeline__list__news__bottom__comment">
              <%= comment.comment %>
            </div>
            <div class="timeline__list__news__bottom__like-wrapper like-wrapper" id="like<%= comment.id %>" data="<%= comment.id %>">
              <% if current_user.liked?(comment) %>
                <div class="liked timeline__list__news__bottom__like-wrapper__liked" data="<%= comment.get_like_id %>">
                  <img class="thumb-up-r timeline__list__news__bottom__like-wrapper__btn" src="/images/done-like-btn.png">
                  <div class="count-r timeline__list__news__bottom__like-wrapper__count">
                    <%= comment.likes.count %>
                  </div>
                  <div class="like-label-r timeline__list__news__bottom__like-wrapper__label">Likes
                  </div>
                </div>
              <% else %>
                <div class="like timeline__list__news__bottom__like-wrapper__like">
                  <img class="thumb-up-g timeline__list__news__bottom__like-wrapper__btn" src="/images/like-btn.png">
                  <div class="count timeline__list__news__bottom__like-wrapper__count">
                    <%= comment.likes.count %>
                  </div>
                  <div class="like-label timeline__list__news__bottom__like-wrapper__label">Likes
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  <div class="timeline__keyword">
    <div class="timeline__keyword__head">
      <div class="timeline__keyword__head__title">
        フォロー中のキーワード
      </div>
      <div class="timeline__keyword__head__more" id="keyword-search">
        キーワードを探す
      </div>
    </div>
    <div class="timeline__keyword__list">
      <% current_user.keywords.each do |keyword| %>
        <div class="timeline__keyword__list__word">
          <%= keyword.keyword %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "./modal/keyword" %>
