<div class="page-content">
  <div class="breadcrumbs">
    <div class="link-wrapper">
      <a href="/" class="unknown-page">
        <div>
          <img src="/images/arrow-left.9f9d0ff2.png">
        </div>
        <div class="label">
          総合トップ
        </div>
      </a>
    </div>
  </div>
  <div class="news-summary">
    <div class="news-summary-container">
      <div class= "contents-area">
        <div>
          <a class="news-image-link" href="https://this.kiji.is/404381710525383777" target="_blank">
            <div class="news-image" style="background-image:url(https://contents.newspicks.com/images/news/3257853?updatedAt=20180821015534)">
            </div>
          </a>
        </div>
        <div class="news">
          <a class="title-link" href="https://this.kiji.is/404381710525383777" target="_blank">
            <h1 class="title bordered economic ">
              総裁選、9月20日投開票に決定 首相と石破氏一騎打ちへ
            </h1>
          </a>
          <div class="meta">
            <div class="meta-block">
              <div class="icon-image">
                <img src="/images/publisher.a6ed8ad6.png">
              </div>
              <span class="caption">共同通信</span>
            </div>
            <div class="meta-block clear">
              <div class="icon-image">
                <img src="/images/published.74411437.png">
              </div>
              <span class="caption">1時間前</span>
            </div>
          </div>
          <div>
            <a class="read-more center" href="https://this.kiji.is/404381710525383777" target="_blank">続きを読む</a>
          </div>
        </div>
        <div class= "news-comment">
          <div class="pick-editor">
            <div class="pick-area embedded">
              <%= form_for [@pick, @comment] do |f| %>
                <div class="comment-area">
                  <img class="cover" src="https://pbs.twimg.com/profile_images/1000993501415329792/EVcLnIF-_400x400.jpg">
                  <div class="comment-container">
                    <%= f.text_field :comment, id: 'comment-space', placeholder: 'コメントを書く（任意）' %>
                  </div>
                  <div class="pick-control">
                    <div class="description">シェアする</div>
                    <div class="sns twitter">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="sns facebook">
                      <i class="fa fa-facebook-square fa-1g"></i>
                    </div>
                    <div class="pick">
                      Pick
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              <% end %>
              <hr>
              <div class="comments">
                <div class="populars" style="display: block">
                  <div class="section-header">注目のコメント</div>
                  <%= render partial: "comment" %>
                  <%= render partial: "comment" %>
                </div>
                <div class="followings" style="display: block">
                  <div class="section-header">フォローしているユーザー</div>
                  <%= render partial: "comment" %>
                  <%= render partial: "comment" %>
                  </div>
                </div>
                <div class="recommends" style="display: block">
                  <div class="section-header">おすすめのユーザー</div>
                  <%= render partial: "comment" %>
                  <%= render partial: "comment" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: "showRightContent" %>
    </div>
  </div>
</div>

