<div class="comment-container" id="comment_number_<%= comment.id %>">
  <div class="comment-row with-border" data-user="267866" data-news="3250274" follow-user="false" data-comment-version="1" mute-disable="false">
    <div class="user-space">
      <a onclick="NP.showUserSummary(event)" data-user="267866" href="/user/267866?ref=news-summary_3250274">
        <%= image_tag comment.user.image.url, class: "user-cover" %>
      </a>
      <div class="user-profile">
        <a onclick="NP.showUserSummary(event)" data-user="267866" href="/user/267866?ref=news-summary_3250274">
          <div class="name-wrapper">
            <div class="name">
              <%= comment.user.last_name %> <%= comment.user.first_name %>
            </div>
          </div>
        </a>
        <div class="job">
          <%= comment.user.company %>
        </div>
        <div class="picktime">
          <!-- 下記はapplication_helperに定義 -->
          <%= calc_time(comment) %>
        </div>
        <%= render "picks/edit_button", comment: comment %>
      </div>
    </div>
    <div class="comment-wrapper">
      <div class="comment">
        <%= comment.comment %>
      </div>
      <div class="like-panel">
        <div class="like-wrapper" id="like<%= comment.id %>" data="<%= comment.id %>">
          <% if current_user.liked?(comment) %>
            <div class="liked" data="<%= comment.get_like_id %>">
              <img class="thumb-up-r" src="/images/done-like-btn.png">
              <div class="count-r">
                <%= comment.likes.count %>
              </div>
              <div class="like-label-r">Likes
              </div>
            </div>
          <% else %>
            <div class="like">
              <img class="thumb-up-g" src="/images/like-btn.png">
              <div class="count">
                <%= comment.likes.count %>
              </div>
              <div class="like-label">Likes
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if !pick.comments.find_by(user_id: current_user.id).nil? %>
    <div class="embedded-pick-editor" >
      <%= form_for(pick.comments.build, remote: true) do |f| %>
      <div class="pick-area comment-edit">
        <%= f.text_field :comment, class: 'comment on-focus', value: pick.comments.where(user_id: current_user.id).first.comment %>
        <%= f.hidden_field :pick_id, value: pick.id %>
        <div class="pick-control">
          <div class="description">シェアする</div>
          <div class="sns twitter">
            <img class="share-normal" src="/images/comment_twitter.png" title="off">
<!--             <img class="share-selected" src="/images/twitter.f04be6e0.png" title="post to twitter"> -->
          </div>
          <div class="sns facebook">
            <img class="share-normal" src="/images/comment_facebook.png" title="off">
<!--             <img class="share-selected" src="/images/facebook.89083ca0.png" title="post to facebook"> -->
          </div>
          <div class="pick">
            <%= f.submit :Pick, type: :image, :src => "/images/pick-btn.png" , class: 'pick-btn' %>
          </div>
          <div class="cancel-wrapper">
            <div class="cancel">キャンセル</div>
          </div>
        </div>
<!--         <div class="error-message hide">Pick に失敗しました</div> -->
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="muted-panel-container" id="muted-panel-container-<%= comment.user.id %>" style="display: none">
      <div class="muted-panel-wrapper">
        <div class="muted-panel">
          <div class="muted-icon">
            <img src="/images/muted-btn.png">
          </div>
          <div class="muted-caption">ユーザーのコメントを非表示にしました。</div>
          <div class="unmute-button">
          <%= link_to "/dislikes/#{comment.user.id}", class: "dislike-destroy-buttton", data: comment.user.id,  method: :delete, remote: true do %>
            <span>元に戻す</span>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
