<div class="page-content">
  <div class="news-summary">
    <div class="news-summary-container">
      <div class= "contents-area">
        <div>
          <a class="news-image-link" href="<%= @pick.url %>" target="_blank">
            <div class="news-image" style="background-image:url(<%= @pick.image %>)">
            </div>
          </a>
        </div>
        <div class="news">
          <a class="title-link" href="<%= @pick.url %>" target="_blank">
            <h1 class="title bordered economic ">
              <%= @pick.title %>
            </h1>
          </a>
          <div class="meta">
            <div class="meta-block">
              <div class="icon-image">
<!--                 <img src="/images/publisher.a6ed8ad6.png"> -->
              </div>
              <span class="caption">共同通信</span>
            </div>
            <div class="meta-block clear">
              <div class="icon-image">
<!--                 <img src="/images/published.74411437.png"> -->
              </div>
              <span class="caption"><%= calc_time(@pick) %></span>
            </div>
          </div>
          <div>
            <a class="read-more center" href="<%= @pick.url %>" target="_blank">続きを読む</a>
          </div>
        </div>
        <div class= "news-comment">
          <div class="pick-editor">
            <div class="pick-area embedded">
            <%= render "new_comment", pick: @pick %>
              <hr>
              <div id="user-comments">
                <div class="populars" <% if @comments_recommend.empty? %>style="display: none"<% end %>>
                  <div class="section-header">注目のコメント</div>
                  <% @comments_recommend.each do |comment| %>
                    <%= render partial: "comment", locals: {comment: comment, pick: @pick} %>
                  <% end %>
                </div>
                <div class="followings" <% if @comments_following.empty? %>style="display: none"<% end %>>
                  <div class="section-header">フォローしているユーザー</div>
                  <% @comments_following.each do |comment| %>
                    <%= render partial: "comment", locals: {comment: comment, pick: @pick} %>
                  <% end %>
                </div>
                <div class="recommends" <% if @comments_other.empty? %>style="display: none"<% end %>>
                  <div class="section-header">おすすめのユーザー</div>
                  <% @comments_other.each do |comment| %>
                    <%= render partial: "comment", locals: {comment: comment, pick: @pick} %>
                  <% end %>
                </div>
              </div>
              <div>
                <div class="no-comment-container" style="">
                  <% @users_nocomment.each do |user| %>
                    <%= render partial: "no_comments_user", locals: {user: user} %>
                  <% end %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: "showRightContent" %>
    </div>
  </div>
</div>


