<div class="page-content">
  <div class="breadcrumbs">
    <div class="link-wrapper">
      <a href="/" class="unknown-page">
        <div>
<!--           <img src="/images/arrow-left.9f9d0ff2.png"> -->
        </div>
        <div class="label">
          総合トップ
        </div>
      </a>
    </div>
  </div>
  <div class="news-summary">
    <div class="news-summary-container">
      <div class= "contents-area">
        <div>
          <a class="news-image-link" href="<%= @pick.url %>" target="_blank">
            <div class="news-image" style="background-image:url(<%= @pick.image %>)">
            </div>
          </a>
        </div>
        <div class="news">
          <a class="title-link" href="<%= @pick.url %>" target="_blank">
            <h1 class="title bordered economic ">
              <%= @pick.title %>
            </h1>
          </a>
          <div class="meta">
            <div class="meta-block">
              <div class="icon-image">
<!--                 <img src="/images/publisher.a6ed8ad6.png"> -->
              </div>
              <span class="caption">共同通信</span>
            </div>
            <div class="meta-block clear">
              <div class="icon-image">
<!--                 <img src="/images/published.74411437.png"> -->
              </div>
              <span class="caption">1時間前</span>
            </div>
          </div>
          <div>
            <a class="read-more center" href="<%= @pick.url %>" target="_blank">続きを読む</a>
          </div>
        </div>
        <div class= "news-comment">
          <div class="pick-editor">
            <div class="pick-area embedded">
            <%= render "new_comment", pick: @pick %>
              <hr>
              <div id="user-comments">
                <% unless @comments_recommend.empty? %>
                <div class="populars" style="display: block">
                  <div class="section-header">注目のコメント</div>
                  <% @comments_recommend.each do |comment| %>
                    <%= render partial: "comment", locals: {comment: comment} %>
                  <% end %>
                </div>
                <% end %>
                <% unless @comments_following.empty? %>
                <div class="followings" style="display: block">
                  <div class="section-header">フォローしているユーザー</div>
                  <% @comments_following.each do |comment| %>
                    <%= render partial: "comment", locals: {comment: comment} %>
                  <% end %>
                </div>
                <% end %>
                <% unless @comments_other.empty? %>
                <div class="recommends" style="display: block">
                  <div class="section-header">おすすめのユーザー</div>
                  <% @comments_other.each do |comment| %>
                    <%= render partial: "comment", locals: {comment: comment} %>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: "showRightContent" %>
    </div>
  </div>
</div>


