<div class="comment-area">
  <img class="cover" <% if user_signed_in? %> src=<%= current_user.image %> <% else %> src ="/images/no_image_user.png" <% end %> >
  <%= form_for(pick.comments.build, remote: true) do |f| %>
  <div class="comment-container">
    <%= f.text_field :comment, id: 'comment-space', placeholder: 'コメントを書く（任意）' %>
    <%= f.hidden_field :pick_id, value: pick.id %>
  </div>
  <div class="pick-control">
    <div class="description">シェアする</div>
    <div class="sns twitter">
      <img src ="/images/comment_twitter.png">
    </div>
    <div class="sns facebook">
      <img class = "share-normal" src ="/images/comment_facebook.png">
    </div>
    <div class="pick">
      <%= f.submit :Pick, type: :image, :src => "/images/pick-btn.png" , class: 'pick-btn' %>
    </div>
  <% end %>
  </div>
</div>

