<%= render partial: "side-bar" %>
<div class="search-result">
  <!-- カテゴリ -->
  <div class="search-result__class">
    <div class="search-result__class__picks" id="select-picks">
      トップ
    </div>
    <div class="search-result__class__comments" id="select-comments">
      コメント
    </div>
    <div class="search-result__class__users" id="select-users">
      ユーザー
    </div>
  </div>
  <!-- ソート -->
  <!-- Picksのソート/フィルター -->
  <div class="search-result__pick-sort" id="pick-sort">
    <!-- PICK数 -->
    <div class="search-result__pick-sort__pick-count">
      PICK数：
      <span class="search-result__pick-sort__select">指定なし</span>
      <%= link_to "#", data: {pick_num: 0, keyword: params[:keyword]}, class: 'pick-comments__filter' do %>
        <div class="search-result__pick-sort__pick-count__filter">
          指定なし
        </div>
      <% end %>
      <%= link_to "#", data: {pick_num: 3, keyword: params[:keyword]}, class: 'pick-comments__filter' do %>
        <div class="search-result__pick-sort__pick-count__filter">
          3以上
        </div>
      <% end %>
      <%= link_to "#", data: {pick_num: 10, keyword: params[:keyword]}, class: 'pick-comments__filter' do %>
        <div class="search-result__pick-sort__pick-count__filter">
          10以上
        </div>
      <% end %>
    </div>
    <!-- 期間 -->
    <div class="search-result__pick-sort__period">
      期間：
      <span class="search-result__pick-sort__select">指定なし</span>
      <%= link_to "#", data: {pick_time: Time.current.years_ago(1), keyword: params[:keyword]}, class: 'pick-period__filter' do %>
        <div class="search-result__pick-sort__period__filter">
          指定なし
        </div>
      <% end %>
      <%= link_to "#", data: {pick_time: Time.current - 1.days, keyword: params[:keyword]}, class: 'pick-period__filter' do %>
        <div class="search-result__pick-sort__period__filter">
          24時間以内
        </div>
      <% end %>
      <%= link_to "#", data: {pick_time: Time.current - 7.days, keyword: params[:keyword]}, class: 'pick-period__filter' do %>
        <div class="search-result__pick-sort__period__filter">
          1週間以内
        </div>
      <% end %>
      <%= link_to "#", data: {pick_time: Time.current - 1.month, keyword: params[:keyword]}, class: 'pick-period__filter' do %>
        <div class="search-result__pick-sort__period__filter">
          1ヶ月以内
        </div>
      <% end %>
    </div>
    <!-- 公開日降順 -->
    <div class="search-result__pick-sort__desc">
      ソート順:
      <span class="search-result__pick-sort__select">公開日</span>
      <%= link_to "#", data: {pick_sort_kind: "time", keyword: params[:keyword]}, class: 'pick-sort' do %>
        <div class="search-result__pick-sort__desc__sort">
          公開日
        </div>
      <% end %>
      <%= link_to "#", data: {pick_sort_kind: "comments_count", keyword: params[:keyword]}, class: 'pick-sort' do %>
        <div class="search-result__pick-sort__desc__sort">
          PICK数
        </div>
      <% end %>
    </div>
  </div>
  <!-- Commentsのソート/フィルター -->
  <div class="search-result__comment-sort" id="comment-sort">
    <div class="search-result__comment-sort__like-count">
      LIKE数：
      <span class="search-result__comment-sort__select">指定なし</span>
      <!-- 以下はクリック時出現 -->
      <%= link_to "#", data: {comment_num: 0, keyword: params[:keyword]}, class: 'comment-likes__filter' do %>
        <div class="search-result__comment-sort__like-count__filter">
          指定なし
        </div>
      <% end %>
      <%= link_to "#", data: {comment_num: 3, keyword: params[:keyword]}, class: 'comment-likes__filter' do %>
        <div class="search-result__comment-sort__like-count__filter">
          3以上
        </div>
      <% end %>
      <%= link_to "#", data: {comment_num: 10, keyword: params[:keyword]}, class: 'comment-likes__filter' do %>
        <div class="search-result__comment-sort__like-count__filter">
          10以上
        </div>
      <% end %>
    </div>
    <div class="search-result__comment-sort__period">
      期間：
      <span class="search-result__comment-sort__select">指定なし</span>
      <!-- 以下はクリック時出現 -->
      <%= link_to "#", data: {comment_time: Time.current.years_ago(1), keyword: params[:keyword]}, class: 'comment-period__filter' do %>
        <div class="search-result__comment-sort__period__filter">
          指定なし
        </div>
      <% end %>
      <%= link_to "#", data: {comment_time: Time.current - 1.days, keyword: params[:keyword]}, class: 'comment-period__filter' do %>
        <div class="search-result__comment-sort__period__filter">
          24時間以内
        </div>
      <% end %>
      <%= link_to "#", data: {comment_time: Time.current - 7.days, keyword: params[:keyword]}, class: 'comment-period__filter' do %>
        <div class="search-result__comment-sort__period__filter">
          1週間以内
        </div>
      <% end %>
      <%= link_to "#", data: {comment_time: Time.current - 1.month, keyword: params[:keyword]}, class: 'comment-period__filter' do %>
        <div class="search-result__comment-sort__period__filter">
          1ヶ月以内
        </div>
      <% end %>
    </div>
    <div class="search-result__comment-sort__desc">
      ソート順：
      <span class="search-result__comment-sort__select">公開日</span>
      <!-- 以下はクリック時出現 -->
      <%= link_to "#", data: {comment_sort_kind: "time", keyword: params[:keyword]}, class: 'comment-sort' do %>
        <div class="search-result__comment-sort__desc__sort">
          公開日
        </div>
      <% end %>
      <%= link_to "#", data: {comment_sort_kind: "likes_count", keyword: params[:keyword]}, class: 'comment-sort' do %>
        <div class="search-result__comment-sort__desc__sort">
          LIKE数
        </div>
      <% end %>
    </div>
  </div>
  <!-- 検索結果（PICKS） -->
  <div class="search-result__picks" id="searched-picks">
    <% if @picks.length != 0 %>
      <% @picks.each do |pick| %>
        <!-- 一つのPick -->
        <div class="search-result__picks__news">
          <div>
            <!-- 左部 -->
              <div class="search-result__picks__news__image" style="background-image: url(<%= pick.image %>)">
                <div class="search-result__picks__news__image__back">
                </div>
                <span class="search-result__picks__news__image__picks-count">
                  <span class="search-result__picks__news__image__picks-count__num">
                    <%= pick.comments.count %>
                  </span>
                  <span class="search-result__picks__news__image__picks-count__text">
                    Picks
                  </span>
                </span>
              </div>
            <!-- 右部 -->
              <!-- 上部 -->
              <div class="search-result__picks__news__above">
                <div class="search-result__picks__news__above__title">
                  <%= pick.title %>
                </div>
                <div class="search-result__picks__news__above__source">
                  <%= pick.source %> | <%= pick.created_at %>
                </div>
              </div>
              <!-- 下部 -->
              <div class="search-result__picks__news__body">
                <%= pick.body %>
              </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="search-result__picks__news">
        一致するニュースがありません。
      </div>
    <% end %>
  </div>


  <!-- 検索結果（コメント） -->
  <div class="search-result__comments" id="searched-comments">
    <% if @comments.length != 0 %>
      <% @comments.each do |comment| %>
        <div class="search-result__comments__comment">
          <div class="search-result__comments__comment__user">
            <%= image_tag comment.user.image.url, class: 'search-result__comments__comment__user__image' %>
            <div class="search-result__comments__comment__user__info">
              <div class="search-result__comments__comment__user__info__name">
                <%= comment.user.last_name %> <%= comment.user.first_name %>
              </div>
              <div class="search-result__comments__comment__user__info__more">
                <% if comment.user.position %>
                  <span class="search-result__comments__comment__user__info__more__position">
                    <%= comment.user.position %>
                  </span>
                <% end %>
                <span class="search-result__comments__comment__user__info__more__date">
                  <%= comment.created_at %>
                </span>
              </div>
            </div>
          </div>
          <div class="search-result__comments__comment__body">
            <%= comment.comment %>
          </div>
          <div class="search-result__comments__comment__like like-wrapper" id="like<%= comment.id %>" data="<%= comment.id %>">
            <% if current_user.liked?(comment) %>
              <div class="liked" data="<%= comment.get_like_id %>">
                <img class="search-result__comments__comment__like__icon thumb-up-r" src="/images/done-like-btn.png" alt="LikesImage">
                <div class="search-result__comments__comment__like__likes-count count-r">
                  <%= comment.likes.count %> Likes
                </div>
              </div>
            <% else %>
              <div class="like">
                <img class="search-result__comments__comment__like__icon thumb-up-g" src="/images/like-btn.png" alt="LikesImage">
                <div class="search-result__comments__comment__like__likes-count count">
                  <%= comment.likes.count %> Likes
                </div>
              </div>
            <% end %>
          </div>
          <div class="search-result__comments__comment__news">
            <div class="search-result__comments__comment__news__title">
              <%= comment.pick.title %>
            </div>
            <div class="search-result__comments__comment__news__info">
              <span class="search-result__comments__comment__news__info__source">
                <%= comment.pick.source %>
              </span> |
              <span class="search-result__comments__comment__news__info__date">
                <%= comment.pick.created_at %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="search-result__comments__comment">
        一致するコメントがありません。
      </div>
    <% end %>
  </div>
  <!-- 検索結果（ユーザー） -->
  <div class="search-result__users"  id="searched-users">
    <% if @users.length != 0 %>
      <% @users.each do |user| %>
        <div class="search-result__users__user">
          <div class="search-result__users__user__above">
            <%= image_tag user.image.url, class: 'search-result__users__user__above__image' %>
            <div class="search-result__users__user__above__info">
              <div class="search-result__users__user__above__info__name">
                <%= user.last_name %> <%= user.first_name %>
              </div>
              <div class="search-result__users__user__above__info__more">
                <div class="search-result__users__user__above__info__more__campany">
                  <%= user.company %>
                </div>
                <div class="search-result__users__user__above__info__more__pisition">
                  <%= user.position %>
                </div>
              </div>
            </div>
          </div>
          <div class="search-result__users__user__bottom">
            <div class="search-result__users__user__bottom__follow">
              <div class="search-result__users__user__bottom__follow__tag">
                フォロー
              </div>
              <div class="search-result__users__user__bottom__follow__num">
                <%= user.following.count %>
              </div>
            </div>
            <div class="search-result__users__user__bottom__follower">
              <div class="search-result__users__user__bottom__follower__tag">
                フォロワー
              </div>
              <div class="search-result__users__user__bottom__follower__num">
                <%= user.followers.count %>
              </div>
            </div>
            <% if user_signed_in? %>
              <% if user.id != current_user.id %>
                <% if current_user.following?(user) %>
                    <div class="search-result__users__user__bottom__btn" id="user-follow<%= user.id %>">
                      <%= link_to user.show_unfollow_link, class: "destroy-relation", data: user.id, method: :delete do %>
                        <img class="search-result__users__user__bottom__btn__image" src="/images/following-btn.png">
                      <% end %>
                    </div>
                <% else %>
                    <div class="search-result__users__user__bottom__btn" id="user-follow<%= user.id %>">
                      <%= link_to user.show_follow_link, class: "create-relation", data: user.id, method: :post do %>
                        <img class="search-result__users__user__bottom__btn__image" src="/images/follow-btn.png">
                      <% end %>
                    </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="search-result__users__user
      ">
        一致するユーザーがいません。
      </div>
    <% end %>
  </div>
</div>
