<%= render partial: "side-bar" %>
<div class="search-result">
  <!-- カテゴリ -->
  <div class="search-result__class">
    <div class="search-result__class__picks">
      トップ
    </div>
    <div class="search-result__class__comments">
      コメント
    </div>
    <div class="search-result__class__users">
      ユーザー
    </div>
  </div>
  <!-- ソート -->
  <div class="search-result__sort">
    <div class="search-result__sort__pick-count">
      PICK数：
      <span class="search-result__sort__select">指定なし</span>
    </div>
    <div class="search-result__sort__like-count">
      LIKE数：
      <span class="search-result__sort__select">指定なし</span>
    </div>
    <div class="search-result__sort__period">
      期間：
      <span class="search-result__sort__select">指定なし</span>
    </div>
    <div class="search-result__sort__desc">
      ソート順：
      <span class="search-result__sort__select">公開日</span>
    </div>
  </div>
  <!-- 検索結果（PICKS） -->
  <div class="search-result__picks">
    <% if @picks.length != 0 %>
      <% @picks.each do |pick| %>
        <!-- 一つのPick -->
        <div class="search-result__picks__news">
          <div>
            <!-- 左部 -->
              <div class="search-result__picks__news__image" style="background-image: url(<%= pick.image %>)">
                <div class="search-result__picks__news__image__back">
                </div>
                <span class="search-result__picks__news__image__picks-count">
                  <span class="search-result__picks__news__image__picks-count__num">
                    <%= pick.comments.count %>
                  </span>
                  <span class="search-result__picks__news__image__picks-count__text">
                    Picks
                  </span>
                </span>
              </div>
            <!-- 右部 -->
              <!-- 上部 -->
              <div class="search-result__picks__news__above">
                <div class="search-result__picks__news__above__title">
                  <%= pick.title %>
                </div>
                <div class="search-result__picks__news__above__source">
                  <%= pick.source %> | <%= pick.created_at %>
                </div>
              </div>
              <!-- 下部 -->
              <div class="search-result__picks__news__body">
                <%= pick.body %>
              </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="search-result__picks__news">
        一致するニュースがありません。
      </div>
    <% end %>
  </div>
  <!-- 検索結果（コメント） -->
  <div class="search-result__comments">
    <!-- 一つComment -->
    <div class="search-result__comments__comment">
      <!-- ユーザー部分 -->
      <div class="search-result__comments__comment__user">
        <img class="search-result__comments__comment__user__image" src="https://img-mdpr.freetls.fastly.net/article/XivX/nm/XivXbktSszs_je4SpZtjLS8zK9ZoyznUdVkG4nAFiVU.jpg?width=700&disable=upscale&auto=webp" alt="ユーザーイメージ">
        <div class="search-result__comments__comment__user__info">
          <div class="search-result__comments__comment__user__info__name">
            白石麻衣
          </div>
          <div class="search-result__comments__comment__user__info__more">
            <span class="search-result__comments__comment__user__info__more__position">
              乃木坂46 １期生
            </span>
            <span  class="search-result__comments__comment__user__info__more__date">
              2018年5月9日
            </span>
          </div>
        </div>
      </div>
      <div class="search-result__comments__comment__body">
        西洋美術は特に近代以前は宗教と切り離せませんし、そこに描かれるモチーフを読み解くには教養が必要です。また現代アートも今では美術史を理解しないことには難しい作品も多く、その是非はともかくアートは多かれ少なかれ文脈に依存するものであると言えます。
      </div>
      <div class="search-result__comments__comment__like">
        <img class="search-result__comments__comment__like__icon" src="/images/like-btn.png" alt="LikesImage">
        <div class="search-result__comments__comment__like__likes-count">
          36 Likes
        </div>
      </div>
      <div class="search-result__comments__comment__news">
        <div class="search-result__comments__comment__news__title">
          アートを感性で語る残念な日本のエリート - 美術作品は感性ではなく理性で読む
        </div>
        <div class="search-result__comments__comment__news__info">
          <span class="search-result__comments__comment__news__info__source">
            PRESIDENT Online
          </span> |
          <span class="search-result__comments__comment__news__info__date">
            2018年5月9日
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
