<div class="back">
  <div class="form">
    <%= form_for @pick do |f| %>
      <%= f.label :URL %>
      <%= f.text_area :url %>

      <%= f.hidden_field :title, value: "aaa" %>
      <%= f.hidden_field :image, value: "aaa" %>
      <%= f.hidden_field :body, value: "aaa" %>

      <%= f.submit :Pickする %>
    <% end %>
  </div>
</div>
