<!DOCTYPE html>
<html>
  <head>
    <title>NewspicksTeama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="header">
      <ul class="header__list">
        <li class="header__list__menu">
          <a href="#" class="header__list__link">
            <%= fa_icon "bars 2x silver" %>
          </a>
        </li>
        <li class="header__list__search">
          <%= form_tag({controller: "/picks", action: "lookup"}, method: "get", class: 'header__list__search-form') do %>
            <% if params[:keyword] %>
              <%= text_field_tag :keyword, '', class: 'header__list__input', placeholder: '検索する', value: params[:keyword] %>
            <% else %>
              <%= text_field_tag :keyword, '', class: 'header__list__input', placeholder: '検索する' %>
            <% end %>
            <%= submit_tag "Search", class: 'header__list__search-btn' %>
          <% end %>
          <!-- <input type="text" placeholder="検索する" class="header__list__input"> -->
          <%= fa_icon "search silver", class: 'header__list__search__icon' %>
        </li>
        <% if user_signed_in? %>
          <li class="header__list__new" id="new-pick-btn">
            <%= link_to :new_pick do %>
              <%= fa_icon "share lg silver" %>
            <% end %>
          </li>
          <li class="header__list__news">
            <a href="#" class="header__list__link"><img src="/images/flag.png" style="height: 23px; width: 23px;"></a>
          </li>
          <li class="header__list__user" id="user-menu-trigger">
            <% if user_signed_in? %>
            <%= image_tag current_user.image.url, class: 'header__list__user__image' %>
            <% end %>
            <div class="header__list__user__text">
              <%= link_to current_user.last_name + ' ' +  current_user.first_name, "", class: 'header__list__link header__list__user__text__name' %>
              <div class="header__list__user__text__payment">
                <% if current_user.pro == 1 %>
                  有料会員
                <% else %>
                  無料会員
                <% end %>
              </div>
            </div>
            <div class="header__list__user__caret">
              <%= fa_icon 'caret-down xs silver' %>
            </div>
          </li>
        <% else %>
          <li class="header__list__login" id="signin-btn">
            <%= link_to "ログイン", new_user_session_path, class: 'header__list__link', id: "header-list-link-login" %>
          </li>
          <li class="header__list__signup" id="signup-btn">
            <%= link_to "アカウント登録", new_user_registration_path, class: 'header__list__link' %>
          </li>
        <% end %>
        <li class="header__list__logo">
          <%= link_to root_path, class: 'header__list__link' do %>
            <%= image_tag 'https://newspicks.com/images/logo_type.598a50a8.png', class: 'header__list__logo__image' %>
          <% end %>
        </li>
      </ul>
    </nav>
    <%= render partial: "./shared/user_menu" if user_signed_in? %>
    <%= yield %>
    <%= render partial: "./modal/signup" %>
    <%= render partial: "./modal/signin" %>
    <%= render partial: "./modal/picks" %>
    <%= render partial: "./modal/comment_confirm" %>
    <%= render partial: "./modal/keyword" %>
  </body>
</html>
